.RegistrationForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 0;
  padding: 0;
}

/* .input {
  box-sizing: border-box;
  outline: none;
  margin:0;
  border: 1px solid #dbdbdb;
  font-size: 1.6em;
  padding: .8em .5em;
  border-radius: 2px;
} */

.RegistrationForm Input {
  width:80%;
}

.Already {
  color: brown;
}

.Already:hover {
  color: red;
}

.submit {
  box-shadow: 0 0 1px #333;
}