.sidebar {
  height: 80vh;
  position: fixed;
  transition: all 0.25s ease;
  margin-top: 8%;
}

.goatAnimBar {
  width: 100px;
  height: 80vh;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  border: solid;
}

.cliffSection {
  display: inline-block;
  width: 100%;
  font-size: 10pt;
  vertical-align: top;
  text-align: center;
}

.cliffSection p {
  margin: 0;
  padding: 3px;
  font-size: large;
  color: black;
  text-shadow: 1px 1px blue;
}

.current {
  transition: height is ease-in-out;
}

.left {
  transition: height is ease-in-out;
}

.cliff {
  position: absolute;
  height: 80vh;
  z-index: 8;
}

.goat {
  position: absolute;
  z-index: 9;
  background: rgb(0, 165, 0);
  border-radius: 50%;
}

.cliffImage {
  height: 80vh;
  width: 100px;
}

.goatImage {
  width: 100px;
  border-radius: 50%;
}

@media all and (max-width: 435px) {
  .sidebar {
    margin-top: 15%;
  }

  .goatAnimBar {
    width: 50px;
  }

  .cliffImage,
  .goatImage {
    width: 50px;
  }
}