.sidebar {
  height: 80vh;
  position: fixed;
  transition: all 0.25s ease;
  margin-top: 5%;
}

.goatAnimBar {
  width: 100px;
  height: 80vh;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
}

.cliffSection {
  display: inline-block;
  width: 100%;
  font-size: 10pt;
  vertical-align: top;
  text-align: center;
}

.cliffSection p {
  margin: 0;
  padding: 3px;
}

.current {
  transition: height is ease-in-out;
}

.left {
  transition: height is ease-in-out;
}

.cliff {
  position: absolute;
}

.goatImage {
  position: absolute;
  z-index: 9;
}