.goalControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.dashButtons button {
  box-shadow: 0 0 1px #333;

}