@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&display=swap');

.accordionList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  align-items: center;
  
}

.expiredGoal {
  border: 2px solid red;
  padding: 0;
  margin: 0;
  background: rgb(222, 225, 228);
}

.notExpiredGoal {
  border: 2px solid black;
  padding: 0;
  margin: 0;
  background: rgb(222, 227, 231);
}

.expireMessage {
  color: red;
}

.notExpiredGoal {
  border: 1px solid black;
  padding: 0;
  margin: 0;
  background: rgb(222, 230, 236);
}

.accordionList p {
  padding: 0;
  margin: 0;
  
}

.AccordionFrame {
  display: flex;
  justify-content: center;
  width: 80%;
}

.AccordionCard {
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 3px #333;
  background: rgb(222, 232, 241);
  transition: all 0.3s ease;
}

.goalCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  transition: all 0.3s ease;
  border-radius: 8px;

}

.goalList {
  align-self: center;
  border: 1px solid black;
  box-shadow: 0 0 3px #333;
  background: rgb(190, 190, 187);
  min-width: 60%;
  max-width: 60%;
  
}

button.AccordionCard {
  background-color: rgb(184, 182, 182);
  border-radius: 15px;
}

.notExpiredGoal{
  background-color: rgb(255, 255, 250);
}